<?xml version="1.0" encoding="utf-8"?>
<resources xmlns:tools="http://schemas.android.com/tools">
    <!-- Base application theme. -->
    <style name="{{ theme_name }}" parent="Theme.MaterialComponents.DayNight.NoActionBar" />
</resources>