plugins {
    id 'com.android.library'
    id 'org.jetbrains.kotlin.android'
    id 'kotlin-kapt'
    id 'dagger.hilt.android.plugin'
}

apply from: './dependencies.gradle'

android {
    compileSdk project.ext.compile_sdk

    defaultConfig {
        minSdk project.ext.min_sdk
        targetSdk project.ext.target_sdk
    }

    buildTypes {
        release {
            minifyEnabled false
            proguardFiles getDefaultProguardFile('proguard-android-optimize.txt'), 'proguard-rules.pro'
        }
    }
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_11
        targetCompatibility JavaVersion.VERSION_11
    }
    kotlinOptions {
        jvmTarget = '11'
    }
}

dependencies {
    {%- for module in dependence_modules %}
    implementation project(path: ':{{ module }}')
    {%- endfor %}

    implementation {{ module_name }}Dependencies['javax-inject']
    implementation {{ module_name }}Dependencies['kotlinx-coroutines']
    implementation {{ module_name }}Dependencies['hilt-android']
    kapt {{ module_name }}Dependencies['hilt-compiler']

    testImplementation {{ module_name }}TestDependencies['coroutines-test']
    testImplementation {{ module_name }}TestDependencies['junit']
    testImplementation {{ module_name }}TestDependencies['mockk']
}