ext.{{ module_name }}Dependencies = [
    'javax-inject': 'javax.inject:javax.inject:1',
    'kotlinx-coroutines': 'org.jetbrains.kotlinx:kotlinx-coroutines-core:1.6.0',
    'hilt-android': "com.google.dagger:hilt-android:$hilt_version",
    'hilt-compiler': "com.google.dagger:hilt-compiler:$hilt_version",
]

ext.{{ module_name }}TestDependencies = [
    'coroutines-test': 'org.jetbrains.kotlinx:kotlinx-coroutines-test:1.6.2',
    'junit': 'org.junit.jupiter:junit-jupiter:5.8.0-M1',
    'mockk': 'io.mockk:mockk:1.12.4'
]