plugins {
    id 'java-library'
    id 'kotlin'
}

apply from: './dependencies.gradle'

java {
    sourceCompatibility = JavaVersion.VERSION_11
    targetCompatibility = JavaVersion.VERSION_11
}

test {
    useJUnitPlatform()
}

dependencies {
    {%- for module in dependence_modules %}
    implementation project(path: ':{{ module }}')
    {%- endfor %}

    implementation {{ module_name }}Dependencies['javax-inject']
    implementation {{ module_name }}Dependencies['kotlinx-coroutines']

    testImplementation {{ module_name }}TestDependencies['coroutines-test']
    testImplementation {{ module_name }}TestDependencies['junit']
    testImplementation {{ module_name }}TestDependencies['mockk']
}